{block content}
<h1 n:block=title>Home</h1>
<p>{$_SERVER['REMOTE_ADDR']}</p>
{if !$user->isLoggedIn()}
	<a n:href="Login:">Login</a>
{else}
	<h3>Logged in as {$loggedUser->getEmail()} [{$loggedUser->getRole()}]</h3>
	<a n:href="logout!">Logout</a>
	<a n:href="createUser!">Create User</a>
{/if}
<ul>
	{foreach $users as $userEntity}
	{var $email = $userEntity->getEmail()}
	<li><a n:href="login! $email">{$email}</a></li>
	{/foreach}
</ul>

